#MainMenu {
    visibility: hidden;
    display: none;
}

header[data-testid="stHeader"] {
    display: none !important;
}

[data-testid="stToolbar"] {
    display: none !important;
}

[data-testid="stDecoration"] {
    display: none !important;
}

[data-testid="stStatusWidget"] {
    display: none !important;
}

footer {
    visibility: hidden;
    display: none !important;
}

#stDeployButton {
    display: none !important;
}

.block-container {
    padding-top: 0 !important;
    margin-top: 0 !important;
}
